# Keep the data folder but ignore the big files inside
data/*
!data/.gitkeep

# Ignore system files
.DS_Store

# Ignore HDF5 files anywhere
*.hdf5
*.h5

# Ignore generated images
graphs/*.png
graphs/*.jpg

# Ignore large compressed CSV outputs
*.csv.gz
extracted_features_csv_files/combined_csv_files/